[Unit]
Description=Run generate-index.service everyday at 5:00 a.m(PST)

[Timer]
OnCalendar=*-*-* 5:00:00 Canada/Pacific
Persistent=true

[Install]
WantedBy=timer.target
